.icon {
  line-height: 1;
  font-size: $font-size-icon;
  font-family: $font-family-icon;
  display: inline-block;
  color: #ffffff;
  &.icn-layer {
    background-image: none;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
  }
}

.icon__clothes {
  @include icon('\e90d');
}

.icon__plate {
  @include icon('\e90c');
}

.icon__bike {
  @include icon('\e90f');
}

.icon__kitchenUtensils {
  @include icon('\e90d');
}

.icon__furniture {
  @include icon('\e90e');
}

.icon__lamp {
  @include icon('\e908');
}

.icon__toy {
  @include icon('\e907');
}

.icon__dishwasher {
  @include icon('\e906');
}

.icon__speakerRadio {
  @include icon('\e905');
}

.icon__resuscitation {
  @include icon('\e904');
}

.icon__diagnostic {
  @include icon('\e903');
}

.icon__box {
  @include icon('\e902');
}

.icon__free {
  @include icon('\e910');
}

.icon__surgery {
  @include icon('\e900');
}

.icon_repaire {
  @include icon('\e912');
}

.icon__repaireColor {
  .icon__layer.icon__layer--1 {
    @include icon('\e913');
    margin-left: -1.13671875em;
    color: $cinnabar-orange;
  }
  .icon__layer.icon__layer--3 {
    @include icon('\e914');
    margin-left: -1.13671875em;
    color: $chambray-blue;

  }
  .icon__layer.icon__layer--2 {
    @include icon('\e915');
    margin-left: -1.13671875em;
    color: $chambray-blue;

  }
}

.icon__onlyOne {
  @include icon('\e911');
}

.icon__doctor {
  @include icon('\e916');
}

.icon__syringe {
  @include icon('\e917');
}

.icon__rip {
  @include icon('\e918');
}

.icon__camera {
  @include icon('\e919');
}

.icon__picture {
  @include icon('\e91a');
}

.icon__video {
  @include icon('\e91b');
}

.icon__back {
  @include icon('\e91c');
}

.icon__add {
  @include icon('\e91d');
}

