.icon
  line-height: 1;
  font-size: $font-size-icon;
  font-family: $font-family-icon;
  display: inline-block;
  color: #ffffff;

.icon__clothes
  @include icon('\e90d');

.icon__plate
  @include icon('\e90c');

.icon__bike
  @include icon('\e90b');

.icon__kitchenUtensils
  @include icon('\e90d');

.icon__furniture
  @include icon('\e909');

.icon__lamp
  @include icon('\e908');

.icon__toy
  @include icon('\e907');

.icon__dishwasher
  @include icon('\e906');

.icon__speakerRadio
  @include icon('\e905');

.icon__resuscitation
  @include icon('\e904');

.icon__diagnostic
  @include icon('\e903');

.icon__box
  @include icon('\e902');

.icon__free
  @include icon('\e901');

.icon__surgery
  @include icon('\e900');
