body {
  background-color: $concrete-white;
  &.body--noScroll {
    overflow: hidden;
  }
}

.body__container {
  min-height: 100vh;
  padding: 0 0 64px 0;
  display: none;
  &--active {
    display: flex;
    flex-direction: column;
  }
}
