.body__loading {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $chambray-blue;
  z-index: 100;

}

.body__loadingLogo {
  max-width: 80%;
  width: 80%;
  height: auto;
  position: absolute;
  top: 35%;
  left: 10%;
  @include medium {
    max-width: 60%;
    width: 60%;
    left: 20%;
  }
  @include large {
    max-width: 40%;
    width: 40%;
    left: 30%;
  }
}

.body__loading--animation {
  animation: displayFade 0.5s ease-in;
  animation-fill-mode: forwards;
}

.icon_repaire {
  animation: rotateGears 4s infinite linear;
  animation-fill-mode: forwards;
  &::nth-child(0) {
    animation-duration: 2s;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::nth-child(1) {
    font-size: 1rem;
    position: absolute;
    top: 5%;
    left: 5%;
  }
  &:nth-child(2) {
    animation: rotateGears 10s infinite linear;
    animation-fill-mode: reverse;
    font-size: 2rem;
    position: absolute;
    top: 20%;
    left: 8%;
  }
  &:nth-child(3) {
    font-size: 1.3rem;
    position: absolute;
    top: 10%;
    left: 30%;
  }
  &:nth-child(4) {
    animation: rotateGears 3.5s infinite linear;
    font-size: 3rem;
    position: absolute;
    top: 30%;
    left: 5%;
  }
  &:nth-child(5) {
    animation: rotateGears 5s infinite ease-in-out;
    font-size: 6rem;
    position: absolute;
    top: 70%;
    left: 70%;
  }
  &:nth-child(6) {
    animation: rotateGears 2.5s infinite linear;
    font-size: 4rem;
    position: absolute;
    top: 55%;
    left: 40%;
  }
  &:nth-child(7) {
    font-size: 1.2rem;
    position: absolute;
    top: 80%;
    left: 15%;

  }
  &:nth-child(8) {
    animation: rotateGears 10s infinite linear;
    font-size: 9rem;
    position: absolute;
    top: 12%;
    right: 8%;

  }
  &:nth-child(9) {
    animation: rotateGears 2s infinite linear;
    font-size: 2rem;
    position: absolute;
    top: 90%;
    left: 90%;

  }
  &:nth-child(10) {
    animation: rotateGears 6s infinite ease-in-out;
    font-size: 1.4rem;
    position: absolute;
    top: 8%;
    left: 8%;

  }
}
