//// Card-rules /////
////////////////////
.cardGlobal {
  width: 80%;
  padding: 1.25rem;
  margin: auto;
  vertical-align: top;
  white-space: normal;
  background: #ffffff;
}

.cardGlobal__header {

}

.cardGlobal__title {
  @extend .h2;
}

.cardGlobal__subtitle {
  @extend .h5;
}

.cardGlobal__content {
  margin: 2.8rem 0 0 0;
}

.cardGlobal__footer {
  padding: 0.8rem 0;
}

.cardRules {
  @extend .cardGlobal;
  width: 60%;
  text-align: center;
  display: inline-block;
  @include medium {
    width: 30%;
  }
  &:first-child {
    margin: 0 0 0 20%;
    @include medium {
      margin: 0 0 0 35%;
    }
  }

  & + .cardRules {
    margin: 0 0 0 20px;

  }

  &:last-child {
    margin-right: 20%;
    @include medium {
      margin-right: 35%;
    }
  }
}

.cardRules__title {
  @extend .h2;
  color: $chambray-blue;
  font-weight: 500;
}

.cardRules__picture {
  padding: 1.8rem 0;
  color: $cinnabar-orange;
  .icon {
    color: $victoria-purple;
    font-size: 5rem;
  }
}

.cardRules__description {
  @extend .p;
  text-align: left;
}
