//// Card-rules /////
////////////////////
.cardRules {
  width: 60%;
  padding: 20px;
  margin: auto;
  vertical-align: top;
  display: inline-block;
  white-space: normal;
  text-align: center;
  background: #ffffff;
  @include medium {
    width: 30%;
  }
  &:first-child {
    margin: 0 0 0 20%;
    @include medium {
      margin: 0 0 0 35%;
    }
  }

  & + .cardRules {
    margin: 0 0 0 20px;

  }

  &:last-child {
    margin-right: 20%;
    @include medium {
      margin-right: 35%;
    }
  }
}

.cardRules__title {
  @extend .h2;
  color: $chambray-blue;
  font-weight: 500;
}

.cardRules__picture {
  padding: 1.8rem 0;
  color: $cinnabar-orange;
  .icon {
    color: $victoria-purple;
    font-size: 5rem;
  }
}

.cardRules__description {
  @extend .p;
  text-align: left;
}
