.section__categories {
  margin: 2rem 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__category {
  width: 32%;
  height: 20vh;
  margin: 1vw 0;
  flex-shrink: 1;
  background-color: $chambray-blue;
}
