.navAside {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -260px;
  z-index: 2;
  background: $chambray-blue;
  overflow: hidden;
  transition: 0.5s;
  &.active{
    right: 0;
    transition: 0.5s;
  }
}

.navAside__scrollable {
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 0;
  overflow: auto;
}

.navAside__header {
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.connexionRegister {
    justify-content: center;
  }
  .navAside__imgProfil{
    width: 75px;
    border-radius: 50%;
    @include medium {
      width: 75px;
    }
  }
  .navAside__indication {
    text-align: center;
  }
  .navAside__title {
    font-family: $font-family-title;
    @include font-size(0.875rem);
    color: #ffffff;
    font-weight: bold;
  }
  .navAside__buttons {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navAside__buttonaccount {
    width: 100px;
    height: 30px;
    margin-top: 11px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $chambray-blue;
    font-family: $font-family-title;
    @include font-size(0.7rem);
    text-decoration: none;
    &:first-child {
      margin-top: 0;
    }
  }
  .navAside__identity {
    margin-bottom: 10px;
    font-family: $font-family-title;
    font-weight: bold;
    @include font-size(0.875rem);
    color: $concrete-white;
  }
  .navAside__repairDone {
    padding: 3px 7px;
    @include font-size(0.75rem);
    background: $concrete-white;
    font-family: $font-family-title;
    font-weight: bold;
    color: $chambray-blue;
    text-align: center;
  }
}

.navAside__content {
  width: 90%;
  margin: 25px auto 0 auto;
  .navAside__button{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
    display: block;
    font-family: $font-family-title;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    @include font-size(0.875rem);
    font-weight: bold;
  }
  .navAside__lists {
    margin-left: 25px;
    padding-top: 16.5px;
    display: none;
  }
  .navAside__item {
    margin-bottom: 16.5px;
  }
  .navAside__link {
    font-family: $font-family-title;
    color: #ffffff;
    @include font-size(0.6875rem);
    text-decoration: none;
  }
}
