////// navigation sticky //////
///////////////////////////////
.navSticky {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-top: 4px solid $cinnabar-orange;
  background-color: white;
  @include medium {
    padding: 0 10%;
  }
  @include large {
    padding: 0 20%;
  }
}

.navSticky__tab {
  width: 20%;
  text-align: center;
}

.navSticky__tabLink {
  width: 100%;
  padding: 5px 0;
  display: inline-block;
  .fa {
    font-size: 30px;
    line-height: 50px;
    color: black;
  }
}
