.navAside {
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -260px;
  z-index: 2;
  background: $chambray-blue;
  overflow: scroll;
  transition: 0.5s;
  &.active{
    right: 0;
    transition: 0.5s;
  }
}

.navAside__header {
  margin-top: 70px;
  padding: 0 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.connexionRegister {
    justify-content: center;
  }
  .profil__indication {
    text-align: center;
  }
  .profil__title {
    font-family: $font-family-title;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
  }
  .profil__buttons {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profil__button {
    width: 100px;
    height: 30px;
    margin-top: 11px;
    color: $chambray-blue;
    font-family: $font-family-title;
    font-size: 0.7rem;
    background: #ffffff;
  }
  .identity {
    margin-bottom: 10px;
    font-family: $font-family-title;
    font-weight: bold;
    font-size: 0.875rem;
    color: $concrete-white;
  }
  .repairDone {
    padding: 3px 7px;
    font-size: 0.75rem;
    background: $concrete-white;
    font-family: $font-family-title;
    font-weight: bold;
    color: $chambray-blue;
    text-align: center;
  }
}

.navAside__content {
  width: 90%;
  margin: 25px auto 0 auto;
  .navAside__button{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 10px;
    display: block;
    font-family: $font-family-title;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: bold;
  }
  .navAside__lists {
    margin-left: 25px;
    padding-top: 16.5px;
    display: none;
  }
  .navAside__item {
    margin-bottom: 16.5px;
  }
  .navAside__link {
    font-family: $font-family-title;
    color: #ffffff;
    font-size: 0.6875rem;
    text-decoration: none;
  }
}
