@mixin background-image($imgPath, $size: cover, $repeat: no-repeat) {
  background-image: url('https://s3.eu-west-2.amazonaws.com/repairecafe/' + $imgPath);
  background-size: $size;
  background-repeat: $repeat;
}
