// font-face: Défini une nouvelle font-face
// $font: le nom du fichier font
// $name: le nom que l'on veut donner à la nouvelle font
@mixin font-face($font, $name) {
    @font-face {
        font-family: $name;
        src: url($directory-fonts + $font + '/' + $font + '.eot');
        src: url($directory-fonts + $font + '/' + $font + '.eot?#iefix') format('embedded-opentype'),
        url($directory-fonts + $font + '/' + $font + '.woff') format('woff'),
        url($directory-fonts + $font + '/' + $font + '.ttf') format('truetype'),
        url($directory-fonts + $font + '/' + $font + '.svg#' + $name) format('svg');
    }
}
