////////////
// colors //
////////////

$concrete-white: #f2f2f2;
$victoria-purple: #5c458d;
$cinnabar-orange: #e84623;
$astronaut-blue: #2b2e76;
$dove-gray: #6f6f6f;

////////////
// fonts  //
////////////
$directory-fonts : '/dist/fonts/';
$font1: 'OpenSans';
$font2: 'OpenSans-Bold';
$font3: 'OpenSans-Light';
$font4: 'Roboto-Bold';
$font5: 'Roboto-Regular';
$font6: 'Roboto-Thin';

///////////////////
// Break points  //
///////////////////

$screen-sm-min: 768px;
$screen-md-min: 1024px;
