////////////
// colors //
////////////

$concrete-white: #f2f2f2;
$victoria-purple: #5c458d;
$cinnabar-orange: #e79028;
$chambray-blue: #36539a;
$dove-gray: #6f6f6f;

////////////
// fonts  //
////////////
$directory-fonts : '/app/fonts/';
$font-family-title: 'Open Sans', sans-serif;
$font-family-base: 'Roboto', sans-serif;
$font-family-icon: 'icomoon';

/////////////////
// fonts-size  //
/////////////////
$font-size-icon: 3.5rem;

///////////////////
// Break points  //
///////////////////

$screen-sm-min: 768px;
$screen-md-min: 1280px;

///////////////////
//    Images     //
///////////////////

$directory-image: 'https://s3.eu-west-2.amazonaws.com/';
