////////////
// colors //
////////////

$concrete-white: #f2f2f2;
$victoria-purple: #5c458d;
$cinnabar-orange: #e84623;
$astronaut-blue: #2b2e76;
$dove-gray: #6f6f6f;

////////////
// fonts  //
////////////
$directory-fonts : '/dist/fonts/';
$font-family-title: 'OpenSans';
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-base: 'Roboto', sans-serif;

///////////////////
// Break points  //
///////////////////

$screen-sm-min: 768px;
$screen-md-min: 1024px;
