.form {
  @include medium {
    width: 405px;
    margin: auto;
  }
  .form__field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  .form__label {
    margin-bottom: 8px;
    font-family: $font-family-base;
    color: $concrete-white;
    font-size: 0.75rem;
  }
  .form__input {
    width: 100%;
    height: 28px;
    padding-left: 10px;
    outline: none;
    background: #4061B2;
    color: $concrete-white;
    border: none;
  }
  .form__buttonSubmit {
    width: 90px;
    height: 30px;
    margin: auto;
    display: block;
    background: #ffffff;
    font-family: $font-family-base;
    border: none;
    color: $chambray-blue;
  }
}

.form__connectWith {
  margin: 26px auto 0 auto;
  display: block;
  font-size: 0.65rem;
  font-family: $font-family-base;
  color: #ffffff;
  text-align: center;
}

.form__linkSubscribe {
  margin: auto;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: $font-family-base;
  font-size: 0.75rem;
  text-align: center;
}
