.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  opacity: 0.8;
  background: #000000;
  &.lightbox--active {
    display: block;
    z-index: $z-index-lightbox;
  }
}
