.header__logo {
  display: flex;
  align-items: center;
  font-family: $font-family-base;
  color: $chambray-blue;
}

.header__logoImg {
  width: 200px;
  margin-right: 7px;
}

.logo__imgImportant {
  width: 100%;
  display: block;
  text-align: center;
}
