.header__logo {
  display: flex;
  align-items: center;
  color: $chambray-blue;
}

.header__logoImg {
  width: 200px;
  margin-right: 7px;
  display: none;
  @include medium {
    display: block;
  }
}

.header__logoImg--mobile {
  width: auto;
  height: 42px;
  max-height: 42px;
  display: block;
  @include medium {
    display: none;
  }
}

.logo__imgImportant {
  width: 100%;
  display: block;
  text-align: center;
}
