.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
}

.modal__content {
  width: 90%;
  height: auto;
  min-height: 40%;
  max-height: 80%;
  position: relative;
  display: flex;
  background: #ffffff;
  opacity: 0.95;
  @include medium {
    width: 70%;
  }
  @include large {
    width: 50%;
  }
}

.modal--active {
  display: flex;
  z-index: $z-index-modal;
  animation: fadeIn 0.4s forwards;
}

.modal__details {
  max-height: 100%;
  padding: 70px 20px;
  overflow: hidden;
  overflow-y: scroll;
  @include medium {
    padding: 70px 40px;
  }
  @include large {
    padding: 70px;
  }
}

.modal__tools {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background: white;
}

.modal__tool {
  padding: 16px;
  .fa {
    font-size: 1.2rem;
  }
  .fa-close {
    color: $chambray-blue;
  }
  .fa-share {
    color: $cinnabar-orange;
  }
}

.modal__title {
  @extend .card__title;
}

.modal__subtitle {
  @extend .card__subtitle;
}

.modal__body {
  @extend .card__content;
}

