.slider__header,
.slider__content {
  overflow: hidden;
}

.slider__header {
  margin: 0 0 2.5rem 0;
  .slider__element {
    text-align: center;
  }
}

.slider__content {
  .slider__element {
    width: 95%;
    margin: auto;
    @include large {
      width: 80%;
    }
  }
}

.slider__container {
  vertical-align: top;
  display: inline-block;
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.2s ease-out;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
  &.slick-current {
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s ease-in;
  }
}

.slick-slide:focus {
  outline: none;
}
