.section__aboutUs {
  .paragraph {
    color: $chambray-blue;
    font-family: $font-family-base;
    @include large {
      width: 855px;
      margin: 0 auto 25px auto;
    }
  }

  .section__logo {
    width: 7rem;
    margin: 2.4rem auto 0 auto;
  }
}
