.section__aboutUs {
  .section__title {
    @include large {
      text-align: left;
      font-family: $font-family-base;
      font-weight: 100;

    }
  }

  .wrapper{
    @include large {
      display: flex;
      justify-content: space-between;
    }
  }

  .description__container{
    @include large {
      width: 48%;
    }
  }

  .paragraph {
    color: $chambray-blue;
    font-family: $font-family-base;
    @include large {
      margin: 0;
    }
  }

  .section__logo {
    width: 7rem;
    margin: 2.4rem auto 0 auto;
    @include medium {
      display: none;
    }
  }
  .image__container{
    width: 39%;
    margin-top: -55px;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    @include large {
      display: flex;
    }
  }
  .image{
    width: 350px;
    &:last-child{
      position: relative;
      bottom: 85px;
      left: 90px;
    }
  }
}
