.section__guestBook {
  .guestBook__avatar {
    @include avatar(5rem, 0, 0);
  }

  .guestBook__avatarName {
    opacity: 0;
  }

  .slick-current .guestBook__avatarName {
    opacity: 1;
  }

  .slider__content {
    padding: 12rem 0;
    background: url("http://placekitten.com/1000/1000?image=9") no-repeat center center;
    background-size: cover;
  }
}
