.section__news {
  padding-bottom: 18vw;
  background: $chambray-blue;
  z-index: 0;
  @include medium {
    padding-bottom: 138px;
  }
  .section__title {
    color: #ffffff;
  }

  .section__body {
    padding: 0 0 2.8rem 0;
  }

  .slider__avatar {
    @include avatar(5rem, 0, 0);
  }

  .slider__avatarName {
    opacity: 0;
  }

  .slick-current .slider__avatarName {
    opacity: 1;
  }

  .slider__content {
  }

  .card__content {
    max-height: 8rem;
    overflow: hidden;
  }
}
