.section__news {
  background: $chambray-blue;
  .section__title {
    color: #ffffff;
  }

  .slider__avatar {
    @include avatar(5rem, 0, 0);
  }

  .slider__avatarName {
    opacity: 0;
  }

  .slick-current .slider__avatarName {
    opacity: 1;
  }

  .slider__content {
  }

  .card__content {
    max-height: 8rem;
    overflow: hidden;
  }
}
