.section__news {
  padding-bottom: 18vw;
  background: $chambray-blue;
  z-index: 0;
  @include medium {
    padding-bottom: 138px;
  }
  .section__title {
    color: #ffffff;
  }

  .section__body {
    padding: 0 0 2.8rem 0;
  }

  .slider__avatar {
    @include avatar(5rem, 0, 0);
  }

  .slider__avatarName {
    opacity: 0;
  }

  .slick-current .slider__avatarName {
    opacity: 1;
  }

  .card__content {
    max-height: 5rem;
    margin: 1.8rem 0 0 0;
    overflow: hidden;
  }

  .card__subtitle {
    color: $chambray-blue;
  }
}
